.display-lcd {
    background-color: #d3e3e2;
    width: 100%;
    height: 2.5rem;
    display: flex;
    span {
        display: block;
        text-align: right;
        width: 100%;
        font-family: 'VT323', monospace;
        font-size: 2rem;
        color: #2b3025;
    }
}