.calculator {
    background-color: #f9f9f9;
    display: flex;
    .buttons {
        max-width: 10rem;
        gap: 1rem;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        button {
            clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
            border-radius: 0.75rem;
        }
        button:first-child {
            order: 2;
        }
    }
}