.calculator {
    background-color: #f9f9f9;
    display: flex;
    .buttons {
        max-width: 10rem;
        gap: 1rem;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        button:first-child {
            order: 2;
        }
    }
}
